header{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  width: 40%;
  height: 100%;
  display: flex;
  margin-left: 25%;
}

.logo{
  height: 100%;
  width: 17%;
  display: flex;

  p{
    color: silver;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 35px;
  }

  img{
    width: 100%;
    height: 100%;
  }
}

.menu-puncts{
  color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
  &:hover{
    color: white;
    cursor: pointer;
  }
  &:active{
    transition: all 50ms ease-in-out;
    color: lightgray;
  }
}

.contacts{
  color: goldenrod;
  margin-left: 10%;
  font-family: Arial;
  font-weight: normal;
  &:hover{
    color: goldenrod;
    cursor: default;
  }
  &:active{
    color: goldenrod;
  }
}
