.menu{
  width: 30%;
  height: 100%;
  display: flex;
  margin-left: 70%;
}

.menu-puncts{
  width: 33%;
  height: 100%;
  background-color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
  &:hover{
    background-color: gray;
    cursor: pointer;
  }
  &:active{
    transition: all 50ms ease-in-out;
    background-color: darkgray;
  }
}
