.main{
  width: 75%;
  height: 60%;
  margin-left: 12.5%;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px dashed darkgrey;
}

.sub{
  width: 45%;
  height: 40%;
  background-color: silver;
  text-align: center;
  transition: all 200ms ease-in;
  &:hover{
    background-color: slategrey;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.645);
  }
}
